.welcome-card img {
    max-height: 35vh;
    overflow: hidden;
}



.direita {
    text-align: right;
}
.bg-class{
    --background: linear-gradient(to right top, #2196f3, #4a8dff, #7c7fff, #af68ff, #e040fb);}