<ion-header>
</ion-header>

<ion-content >
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
    </ion-card>
    <div class ="center ">
    <ion-button  class="ion-margin-bottom" shape="round"  href="/rhome2">
    <ion-icon slot="end" name="logo-game-controller-a"></ion-icon>
    Jogar
    </ion-button><br>
    <ion-button class="ion-margin-bottom" shape="round"  href="/rhome2">
    <ion-icon slot="end" name="cog"></ion-icon>
    Opções</ion-button><br>
    <ion-button (click)="sair()" class="ion-margin-bottom" shape="round"  color="danger" href="/rhome2">
    <ion-icon slot="end" name="close-circle"></ion-icon>
    Sair</ion-button><br>
    </div>
</ion-content>
