<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
    </ion-card>
    <div class ="center ">
    <ion-button  class="ion-margin-bottom" shape="round"  href="/rhome">
    <ion-icon slot="start" name="logo-game-controller-a"></ion-icon>
    Jogar
    </ion-button><br>
    <ion-button class="ion-margin-bottom" shape="round"  href="/rhome">Configurações</ion-button><br>
    <ion-button class="ion-margin-bottom" shape="round"  href="/rhome">Sair</ion-button><br>
    </div>
</ion-content>
