.welcome-card {
    margin-top: 10vh;
    max-height: 35vh;
    overflow: hidden;
}

.bg-class{
    --background:linear-gradient(to bottom, #b3e5fc, #91d3f6, #6ec1f0, #48aeeb, #039be5);
    }

.center {
    text-align: center;
    margin-top: 50px;
    line-height: 40px;
    
}
.border{
    --border-color:white;
}