.welcome-card {
    margin-top: 10vh;
    max-height: 35vh;
    overflow: hidden;
}

ion-content {
    --background: url('src/assets/images/wp5.jpeg') no-repeat center/cover fixed;
}

.center {
    text-align: center;
    margin-top: 50px;
    line-height: 40px;
}